@media(max-width:576px)
{
    .me
    {
        width:30px;
        height: 30px;
        border-radius: 50%;
        margin-left:0px;
        border: 2px solid #17C3B2;
    }
.icon-both
{
    
    color: #393939;
    margin-right: 3px;
    font-size: 17px;
    margin-top: 5px;
}
.homepage-navbar
{
    padding: 0px;
}
.input-search
{
    border-radius: 0px;
    padding: 0px 0px 0px 2px;
}
.leftsider
{
    display: none;
}
.month1
{
    font-size: 11px;
    font-weight: 700;
}
}